name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    
    - name: Install Packages
      run: sudo apt-get install -y git make git build-essential binutils-mips-linux-gnu python3 python3-pip

    - name: Update Submodules
      run: git submodule update --init --recursive

    - name: Build Dependencies
      run: make dependencies
      
    - name: Checkout Secrets
      uses: actions/checkout@v4
      with:
        repository: ${{ secrets.SECRET_REPO }}
        token: ${{ secrets.SECRET_TOKEN }}
        path: secret_repo

    - name: Decrypt Secrets
      working-directory: secret_repo
      run: ./decrypt_secret.sh && cp baserom.us.z64 ..
      env:
          PASSPHRASE: ${{ secrets.SECRET_PASSPHRASE }}

    - name: Build
      run: make extract; make
      
    - name: Clean
      run: rm -f baserom.us.z64
